{% extends 'base.html' %}



{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
   {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{{ mixin_group}}
            {% for item in news %}
            <div class="card mb-3" style="width: 1300px;">
                {{ forloop.counter }}
                <div class="card-header">
                    Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category.title }}</a>
                </div>
                <div class="media" style="display:flex">
                    <div class="media-photo">
                        {% if item.photo %}
                        <img alt="Photo" class="mr-3" src="{{ item.photo.url }}" width="350">
                        {% else %}
                        <h6> ФОТО НЕТ</h6>
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <h5 class="card-title {% cycle 'text-success' 'text-danger' 'text-primary' %}">{{ item.title }}</h5>
                        {% autoescape off %}
                        <p class="card-text">{{ item.content|truncatewords:60|linebreaks }}</p>
                        {% endautoescape %}
                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more....</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{ item.created_at|date:'Y-m-d H:i' }}
                </div>
            </div>
            {% endfor %}
{% endblock %}

